<h1>New Status Type</h1>
<%= link_to 'Home', root_path %>
<%= form_for @status_type, local: true do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p><%= f.submit %></p>
<% end %>
