<h1>New Location</h1>
<%= form_for @location, local: true do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :external_id %><br>
  <%= f.text_field :external_id %> 
</p>
<p>
  <%= f.submit %>
</p>
<% end %>


